@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lexend+Deca&display=swap');

:root {
  /* primary */
  --p-purple: hsla(276, 60%, 61%, 1);
  --p-white: hsla(180, 100%, 100%, 1);

  --n-dk-purple: hsla(246, 38%, 16%, 1);
  --n-gray: rgb(159, 158, 182);
  --n-bg: hsla(233, 46%, 7%, 1);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}

img {
  display: block;
  line-height: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--n-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 14px;
  justify-items: end;
  width: 1115px;
  /* column #1 background gradient */
  background: linear-gradient(to top,
      hsla(246, 38%, 16%, 0.3) 20%,
      rgb(70, 39, 98, 0.5) 80%);
}

.hero-img img {
  height: 100%;
  width: auto;
  mix-blend-mode: multiply;
  opacity: 0.80;
  border-radius: 0 14px 14px 0;
}

.hero-img {
  border-radius: 0 14px 14px 0;
  background-color: var(--p-purple);
}

.hero-text {
  padding: 70px 124px 70px 70px;
}

.hero-text h1,
.highlights h2 {
  color: var(--p-white);
}

.hero-text h1 {
  font-size: 2.125rem;
  padding-bottom: 32px;
  background: linear-gradient(96.59deg, #FBF9FB -12.67%, #AD8DAE 105.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text span {
  background: linear-gradient(93.01deg, #AF5EC3 -6.55%, #ED4DCA 114.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--p-purple);
  transition: ease-in-out 0.5s;
  animation-duration: 0.3s;
}

.hero-text span:hover {
  background: linear-gradient(93.01deg, #5BD0F4 -6.55%, #2CEF28 114.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: ease-in-out 0.5s;
  animation-duration: 0.3s;
}


.hero-text p,
.highlights p {
  font-weight: 500;
  color: var(--n-gray);
}

.hero-text p {
  font-size: 0.95rem;
}

.hero-text>p {
  line-height: 1.75;
  padding-bottom: 80px;
}

.highlights h2 {
  font-size: 1.4rem;
  padding-bottom: 8px;
}

.highlights P {
  font-size: 0.8125rem;
}

.all-caps {
  text-transform: uppercase;
}

.highlights {
  display: flex;
  gap: 70px;
}

.highlights p {
  font-family: 'Lexend Deca', sans-serif;
}